       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background: #35424a;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
        nav a {
            color: #ffffff;
            margin: 0 15px;
            text-decoration: none;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        article {
            background: #ffffff;
            margin: 20px 0;
            padding: 20px;
            border-radius: 5px;
        }


        footer {
            text-align: center;
            padding: 10px;
            background: #35424a;
            color: #ffffff;
            position: relative;
            bottom: 0;
            width: 100%;
        }




           .mail {
                text-decoration: none;
                color: white;
        }


           .nav {
               display: flex;
               background: #35424a;
               color: white;

        }

          .retour {
                color: red;
        }


          .h1 {
                color: blue;
        }

          .u {
                color: blue;
        }